<fieldset [formGroup]="formParent">
    <label [for]="name">{{label}}
      <span  [ngClass]="{'isvalid': formParent.controls[name].invalid &&
      (formParent.controls[name].dirty || formParent.controls[name].touched)}">*</span> </label>
    <input
    type="text"
    [name]="name"
    [placeholder]="placeholder"
    [formControlName]="name"
    [required]="required"
    value="HOLA"
    >
    <span class="isvalid" *ngIf="formParent.controls[name].invalid &&
    (formParent.controls[name].dirty || formParent.controls[name].touched)">
      nombre es requerido
    </span>
      <!-- <div *ngIf="name.errors?.['required']">
        Name is required.
      </div> -->
</fieldset>