nav{
    background: beige;
    margin-bottom: 15px;
    padding: 10px;
    ul{
        list-style: none;
        padding: 0!important;
        margin-bottom: 0px;
        li{
            display: inline-block;
            margin-right: 15px;
        }
    }
}