<mat-card class="mb-3">
  <mat-card-header>
    <mat-card-title>{{ req.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="scroll">
      {{ req.description }}
  </mat-card-content>
  <mat-card-actions>
    <app-button
    [color]="buttonEdit.color"
    [texto]="buttonEdit.texto"
    (click)="ejecutarEvento('Editar')"
    ></app-button>
    <app-button
    [color]="buttonDelete.color"
    [texto]="buttonDelete.texto"
    (evento)="ejecutarEvento('Eliminar')"
    ></app-button>
  </mat-card-actions>
</mat-card>
