@import '../../../../scss/variables';

button{
    margin-right: 15px!important;
    @media (max-width: 768px) {
        width:100%;
        border: 1px solid;
        margin-bottom: 20px;
    }
}
.mat{
    &-green{
        color: $text-green;
        border: 1px solid $text-green;
    }
    &-warn.mat-stroked-button{
        border: 1px solid $text-red;
    }

}